@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0f172a] text-gray-100;
  font-family: inherit !important;
}

::-webkit-scrollbar {
  @apply w-[7px] h-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#666] rounded-2xl;
  border: 1px solid #191a1f;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#777];
}

::-webkit-scrollbar-button {
  @apply hidden;
}

.swiper-button-next {
  color: #37beca !important;
}

.swiper-button-next:hover {
  color: #0ab5df !important;
}

.swiper-button-prev {
  color: #37beca !important;
}

.swiper-button-prev:hover {
  color: #0ab5df !important;
}

.fade-loading {
  background-color: #48c1c3;
  border-radius: 100rem;
  position: relative;
}

.fade-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
  animation: fade 1s forwards infinite linear;
}

@keyframes fade {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.swiper-pagination-bullet-active {
  background-color: #48c1c3 !important;
  width: 25px !important;
  border-radius: 9999px !important;
}

.swiper-button-disabled {
  display: none !important;
}

.scroll-to-top {
  height: 32px !important;
  width: 32px !important;
  background-color: #4eb0ab !important;
}

.scroll-to-top svg {
  height: 22px !important;
  fill: rgb(249 250 251) !important;
}

.CircularProgressbar {
  width: 32px !important;
}

.CircularProgressbar-text {
  font-size: 40px !important;
  fill: rgb(249 250 251) !important;
  font-weight: 600;
}

.CircularProgressbar-trail {
  stroke: #57565663 !important;
}

.CircularProgressbar-path {
  stroke: rgb(249 250 251) !important;
  stroke-width: 7px !important;
}